﻿@model IEnumerable<tercera_Entrega.Models.Menu>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Take(3))
{

    @Html.Raw(item.contenido)
}




</table>
