﻿@{
   
    Page.Title = "PROYEC";
}
<br /><br /><br /><br /><br /><br />



<div class="container theme-showcase" role="main">


    <div class="jumbotron">

        <div style="text-indent: 6cm"><h1> <p class="bg-primary">VESTIDOS PARA SILLAS Y MANTELERIA. </p></h1></div>
        <br />
      <p>Te proporcionamos algunas ideas para que lleves a cabo tu celebración. Observa el siguiente vídeo en el cual se muestran los diferentes diseños que puedes realizar.</p>
        
       
    
    </div>
   
    <div style="text-indent: 6cm"> <iframe type="text/html" width="640" height="385" src="http://www.youtube.com/embed/EuVRXFqnUd8" frameborder="0"></iframe> </div>
    <br />
</div>