﻿@{
 
    Page.Title = "PROYEC";
}
<br /><br /><br /><br /><br /><br />
<div class="container theme-showcase" role="main">


    <div class="jumbotron">

        <div style="text-indent: 6cm"><h1> <p class="bg-primary">MESAS REDONDAS, CUADRADAS Y BANQUETERAS. </p></h1></div>
        
     <p>Los productos que evidencias en el vídeo los puedes encontrar en Alquileres ST, Surtimos tu evento.</p>
      
    
    </div>
    <div style="text-indent: 6cm"><iframe type="text/html" width="640" height="385" src="http://www.youtube.com/embed/NvfWLp8fyeM" frameborder="0"></iframe> </div>
</div>