﻿@{
    
    Page.Title = "PROYEC";
}
<br /><br /><br /><br /><br /><br />
<div class="container theme-showcase" role="main">


    <div class="jumbotron">
        <div style="text-indent: 8cm"><h1> <p class="bg-primary">SILLAS PARA ADULTOS Y NIÑOS. </p></h1></div>
        <p>He aqui algunas muestras de lo que se puede realizar en alquileres ST, Toma nota!</p>
     
    </div>
    <div style="text-indent: 6cm"><iframe type="text/html" width="640" height="385" src="http://www.youtube.com/embed/XwVWJiW4c-4" frameborder="0"></iframe></div>
    
</div>