﻿
   @{
     
       Page.Title = "PROYEC";
}
    <br /><br /><br /><br /><br /><br />   
  <div class="container theme-showcase" role="main">

            
            <div class="jumbotron">
                <font color="#1BDD4F">  <h1>¿Cómo planear un evento en ALQUILERES ST?</h1></font>
</div>
      <img class="img-rounded" src="~/Images/gy.jpg" alt="Generic placeholder image" width="1140" height="500">
        </div>
<div class="container theme-showcase" role="main">


    <div class="jumbotron">
        <h3>Cómo planear y organizar un evento en Alquileres ST</h3>

        <p>Conóce todo lo que debes tener en cuenta a la hora de planear, organizar y llevar a cabo tu evento</p>

        <h3>¿Cuándo?</h3>
        <p>
            Ten en cuenta si las fechas del evento son flexibles o fijas, esto te permitirá validar opciones de disponibilidad de horarios y días y seguramente conseguir mejores precios de temporada.
            Determina el tiempo de anticipación para informar a tus asistentes del evento.
        </p>

        <h3>¿Transporte?</h3>
    <p>Tus invitados requieren transportes complementarios: Si / No. Planea con la suficiente oportunidad la forma como sus invitados llegarán al lugar del evento.</p>
     
        <h3>¿Cómo?</h3>
        <p>Establece el objetivo de tu evento, cómo medirlo y cuál es la meta a lograr.</p>
        <p>Determina un presupuesto disponible, un tope máximo a invertir y la retribución que tendrá el evento.</p>
        <p>Incluye en la agenda actividades de entretenimiento que permitan conectar a tus asistentes con el evento, que se relajen y distraigan entorno a su actividad. Esto ayudará a mantener la atención de tu audiencia y la permanencia en todo el evento.</p>
    <h3>Alimentos y bebidas</h3>

        <p>Verifica si requieres servicio a la mesa, a manteles, a presencia del Chef o si es servicio tipo Buffet el más adecuado para tu evento. 
        En caso de requerir oferta de licores, considere la calidad, seguridad, variedad e incluya siempre la oferta de cocteles o cervezas sin licor.</p>
    <h3>Salones</h3>
        <p>Cuántos salones requiere, Requiere salones o espacios alternos, De qué tamaño son los salones que requiere
Cuál es el montaje de los salones: auditorio, U, aula, coctel, espina de pescado.
Cuál es la acomodación de los salones: solo sillas, con mesas y sillas, sin mesas y sillas, otros especiales.</p>
    </div>
</div>
