﻿@{
   
    Page.Title = "PROYEC";
}
<br /><br /><br /><br /><br /><br />
<div class="container theme-showcase" role="main">


    <div class="jumbotron">
       
        <font color="black">  <h1>¿Por qué un evento en alquiler ST?</h1></font> 
        <br />
        <img class="img-rounded" src="~/Images/qw.jpg" alt="Generic placeholder image" width="1000" height="500">
        <br /><br />
        <h3> <strong> Sus eventos empresariales o sociales son un éxito en Alquileres ST:</strong></h3>
       
            <p><strong>1.</strong> Asesoría y acompañamiento integral desde la planeación hasta el cierre del evento.</p>

            <p><strong>2.</strong> Capacidad logística para desarrollar eventos simultáneos en sedes propias o en cualquier lugar del Caqueta.</p>

            <p><strong>3.</strong> Ubicación estratégica de sedes propias en el Caqueta.</p>

            <p><strong>4.</strong> Equipo idóneo e interdisciplinario.</p>

            <p><strong>5</strong>. Amplia red de proveedores y aliados estratégicos certificados.</p>

            <p><strong>6.</strong> Costos que se ajustan a todos los presupuestos.</p>

</div>
</div>