﻿@{
 
    Page.Title = "Home Page";
}
<br /><br /><br /><br /><br /><br />
<body>

    <br />
    <div style="text-indent: 12cm"><h1> <p class="bg-primary">SITIOS DE INTERES</p></h1></div>



    <div class="container">

        <div class="page-header">

            <br />
            <p class="lead">A continuación te haremos sugerencias de los sitios, lugares, salones y demas establecimientos en los que puedes llevar a cabo tu celebración.</p>

        </div>
        <img src="~/Images/d.jpg" width=370 height=300 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">

        <img src="~/Images/m.jpg" width=370 height=300 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
        <img src="~/Images/ñ.jpg" width=370 height=300 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">

        <img src="~/Images/l.jpg" width=370 height=300 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
        <img src="~/Images/i.jpg" width=370 height=300 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
        <img src="~/Images/sa.jpg" width=370 height=300 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">

        <img src="~/Images/sal.jpg" width=370 height=300 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
        <img src="~/Images/da.jpg" width=370 height=300 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
        <img src="~/Images/ro.jpg" width=370 height=300 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>