﻿@{
   
    Page.Title = "PROYEC";
}
<br /><br /><br />
<div class="jumbotron">
    
    <div style="text-indent: 10cm"><h1> <p class="bg-primary">SOLICITE UN EVENTO </p></h1></div>
    <div class="container theme-showcase" role="main">




        <img class="img-rounded" src="~/Images/uno.jpg" alt="Generic placeholder image" width="1000" height="500">
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <br />

        <p class="lead">Ofrecemos la posibilidad de realizar sus eventos empresariales y sociales, a la medida de las necesidades y requisitos de su empresa, desde la planeación hasta el cierre del evento. Contamos con espacios en Bogotá, Cajicá, Girardot y en varias zonas del país gracias a nuestra red de proveedores.</p>
        <p class="lead">Diligencie y envíe el siguiente formulario con los detalles de su evento. Un asesor se contactará con usted y le enviará la propuesta comercial.</p>
            <br /><br />



            <br />
    </div>

</div>

<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Nombre Y Apellidos</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Nombre Y Apellidos">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-5 control-label">Identificación</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Identificación">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Tipo de Evento</label>
                <div class="col-sm-7">
                    <select class="form-control">
                        <option>Seleccionar Evento</option>
                        <option>Bautizo</option>
                        <option>Matrimonio</option>
                        <option>15 Años</option>
                        <option>Grado</option>
                        <option>Aniversario</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-5 control-label">Nombre del Evento</label>
                <div class="col-sm-7">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Nombre del Evento">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Email</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="jane.doe@example.com">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Sede del Evento</label>
                <div class="col-sm-7">
                    <select class="form-control">
                        <option>Seleccionar Sede</option>
                        <option>Club Comercio</option>
                        <option>Club Matiki</option>
                        <option>Patio Bonito</option>
                        <option>Avalon Club</option>
                        <option>Yurupari</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Fecha y hora inicio del evento</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="DD/MM/AA">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Fecha y hora fin del evento</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="DD/MM/AA">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Numero de Asistentes</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Numero de Asistentes">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-5 control-label">Servicios requeridos</label>
                <div class="col-sm-7">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Alimentos
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Bebidas y licores
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Decoración
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Show musical
                    </label>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </form>

    </div>

</div>




