﻿@{
    
    Page.Title = "PROYEC";
}
<br /><br /><br /><br /><br /><br />
<div style="text-indent: 13cm"><font size=10> <font color="black">  <h1>EVENTOS</h1></font> </font></div>
<br /><br />
<div class="container theme-showcase" role="main">


    <div class="jumbotron">
        
       
        <div style="text-indent: 10cm"><h1> <p class="bg-primary">MATRIMONIOS </p></h1></div>
       

        <img class="img-rounded" src="~/Images/matri.jpg" alt="Generic placeholder image" width="1000" height="500">
        <br /><br />
        <div style="text-indent: 4cm"><p>MESAS:$ SILLAS:$ DECORRACION:$ SITIO:<h2><strong> @Html.ActionLink("-->", "sitios_interes", "Paginas", null, new { @class = "featurette-heading" })</strong></h2></p></div>
        <br /><br />
        <div style="text-indent: 10cm"><h1> <p class="bg-primary">ANIVERSARIO </p></h1></div>


        <img class="img-rounded" src="~/Images/ani.jpg" alt="Generic placeholder image" width="1000" height="500">
        <br /><br />
        <div style="text-indent: 4cm"><p>MESAS:$ SILLAS:$ DECORRACION:$ SITIO:<h2><strong> @Html.ActionLink("-->", "sitios_interes", "Paginas", null, new { @class = "featurette-heading" })</strong></h2></p></div>
        <br /><br />
        <div style="text-indent: 10cm"><h1> <p class="bg-primary">FIESTAS INFANTILES </p></h1></div>


        <img class="img-rounded" src="~/Images/fie.jpg" alt="Generic placeholder image" width="1000" height="500">
        <br /><br />
        <div style="text-indent: 4cm"><p>MESAS:$ SILLAS:$ DECORRACION:$ SITIO:<h2><strong> @Html.ActionLink("-->", "sitios_interes", "Paginas", null, new { @class = "featurette-heading" })</strong></h2></p></div>
        <br /><br />
        <div style="text-indent: 10cm"><h1> <p class="bg-primary">15 AÑOS </p></h1></div>


        <img class="img-rounded" src="~/Images/15.jpg" alt="Generic placeholder image" width="1000" height="500">
        <br /><br />
        <div style="text-indent: 4cm"><p>MESAS:$ SILLAS:$ DECORRACION:$ SITIO:<h2><strong> @Html.ActionLink("-->", "sitios_interes", "Paginas", null, new { @class = "featurette-heading" })</strong></h2></p></div>
    </div>
</div>