﻿
        @{
            
            Page.Title = "PROYEC";
            
        }
      
<br /><br /><br /><br /><br /><br />

    <title>proyecto</title>




    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="~/Images/img1.jpg" alt="First slide">

                <div class="container">
                    <div class="carousel-caption">


                    </div>
                </div>
            </div>
            <div class="item">
                <img class="second-slide" src="~/Images/img2.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="~/Images/img3.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">


                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="~/Images/img4.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="~/Images/img5.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">


                    </div>
                </div>
            </div>
            <div class="item">
                <img class="third-slide" src="~/Images/img6.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">

                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<!-- /.carousel -->
    <br><br>
    <h2 class="text-center"><strong>SI QUIERES QUE TU EVENTO SEA EL MEJOR...</strong></h2> <h1 class="text-center"><strong>¡VISITANOS!</strong></h1>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <br><br>
                <img class="img-circle" src="~/Images/6to.jpg" alt="Generic placeholder image" width="260" height="260">
                <h2>Vestidos para sillas y manteleria.</h2>
                <br>
                <p class="text-justify"><strong>Ofrecemos la mejor calidad,variedad y diseños en cuanto a el vestuario de sillas y mesas; usando la mejor manteleria que te puedan ofrecer.</strong></p>

                <p> @Html.ActionLink("Ver más", "boton1", "Paginas", null, new { @class = "btn btn-lg btn-primary" })</p>


            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <br><br>
                <img class="img-circle" src="~/Images/7mo.jpg" alt="Generic placeholder image" width="260" height="260">
                <h2>Sillas para adultos y niños. </h2>
                <br>
                <p class="text-justify"><strong>Alquieres ST te brinda gran cantidad de sillas para que no importe el numero de tus invitados, vive sin límites.</strong></p>
                <p> @Html.ActionLink("Ver más", "boton2", "Paginas", null, new { @class = "btn btn-lg btn-primary" })</p>


            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <br><br>
                <img class="img-circle" src="~/Images/5to.jpg" alt="Generic placeholder image" width="260" height="260">
                <h2>Mesas redondas, cuadradas y banqueteras.</h2>
                <br>
                <p class="text-justify"><strong> Observa la variedad de estilos de mesas que tenemos para tu evento. La decoración que imagines se hará realidad.  </strong></p>
                <p> @Html.ActionLink("Ver más", "boton3", "Paginas", null, new { @class = "btn btn-lg btn-primary" })</p>

            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2><strong> @Html.ActionLink("¿Cómo planear un evento?", "como_planear", "Paginas", null, new { @class = "featurette-heading" })</strong></h2>


                <p class="lead">Conózca todo lo que debe tener en cuenta a la hora de planear, organizar y llevar a cabo un evento.</p>
                <ul>

                    <h4> <li> ¿CUANDO?</li></h4>
                    <h4> <li> ¿COMO?</li></h4>
                    <h4> <li> ¿DONDE?</li></h4>
                    <h4> <li> ¿TEMÁTICA?</li></h4>
                    <h4> <li> ¿ALIMENTOS?</li></h4>
                    <h4> <li> ¿SALONES?</li></h4>
                    <h4> <li> ¿TRANSPORTE?</li></h4>


                </ul>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="~/Images/w.jpg" alt="pri">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <br><br><br><br><br>
                <h2><strong> @Html.ActionLink("¿Por qué un evento en alquiler ST?", "por_qué", "Paginas", null, new { @class = "featurette-heading" })</strong></h2>

                <p class="lead">Somos pioneros en el alquiler y la organización  de eventos, con 20 años de experiencia al servicio de los caqueteños; en nuestra empresa encontrarás el acompañamiento y la asesoria  necesaria para obtener con éxito lo que quieras realizar.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="~/Images/4to.jpg" alt="seg">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <h2><strong> @Html.ActionLink("Sitios de interes", "sitios_interes", "Paginas", null, new { @class = "featurette-heading" })</strong></h2>

            <br><br>
            <img src="~/Images/m.jpg" width=278 height=200 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
            <img src="~/Images/ñ.jpg" width=278 height=200 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
            <img src="~/Images/sa.jpg" width=278 height=200 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
            <img src="~/Images/4to.jpg" width=278 height=200 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">


        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
       
        

   