﻿@{
   
    Page.Title = "Home Page";
}


    <br /><br /><br /><br /><br />
    <div style="text-indent: 10cm"><h1> <p class="bg-primary">SERVICIOS OFERTADOS</p></h1></div>
    <div class="container">

        <div class="page-header">

            <br />
            <p class="lead">Los siguientes servicios y productos son los que tenemos para que tu evento sea inolvidable; En Alquileres ST pensamos en todo para que tus eventos incluyan hasta el último detalle:</p>
            <br />
            <ul>

                <h4> <li> <img src="~/Images/col.jpg" align="right" width="500" height="260"> Asesoría en planeación, diseño, desarrollo y montaje de espectáculos de acuerdo a tus necesidades.</li></h4>
                <br />
                <h4> <li> Alquiler de tarimas, alquiler de carpas y cubiertas, sillas, mesas,  eventos organizacionales y eventos de gran tamaño. </li></h4>
                <br />
                <h4> <li> Ambientación y decoración de eventos y celebraciones empresariales.</li></h4>
                <br />
                <h4> <li> Alianzas con empresas de seguridad y vigilancia, para preservar siempre la seguridad de tus invitados.</li></h4>


            </ul>

        </div>
        <br />
        <h2><strong>TRANSPORTE PUERTA A PUERTA</strong></h2>
        <br />
        <p class="lead"> Cuando contratas con nosotros el servicio de transporte ya esta incluido, buscamos tu comidad por tal razon llevamos los pedidos hasta el lugar del evento.</p>
        <img src="~/Images/r.jpg" width=278 height=200 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
        <img src="~/Images/p.jpg" width=278 height=200 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
        <img src="~/Images/h.jpg" width=278 height=200 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">
        <img src="~/Images/ya.jpg" width=258 height=200 border=2 vspace=3 hspace=3 alt="Obra de K. Haring">

        <h2><strong>SERVICIO POR SEPARADO </strong></h2>
        <p class="lead"> En Alquileres ST, te damos facilidad para que separes tu pedido con un 20% del monto total a pagar. </p>
        <div align="center"><img src="~/Images/logo.png"></div>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
